.insights-container {
  padding: 20px;
  background: #f4f4f9;
  min-height: 100vh;
  color: #333;
  padding-bottom: 67px;

  h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .section {
    margin-bottom: 25px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
}
